---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$textColour: #f0f0f0;
$accentColour: #ff8e00;
$headerBackground: #303030;
$headerSeparator: #606060;
$mainBackgroundTop: #252525;
$mainBackgroundBottom: darken($mainBackgroundTop, 5%);
$bodyBackground: #303030;

$buttonTopColour: $accentColour;
$buttonBottomColour: darken($accentColour, 10%);
$buttonBorderColour: darken($accentColour, 20%);

$selectedButtonTopColour: darken($accentColour, 10%);
$selectedButtonBottomColour: darken($accentColour, 20%);
$selectedButtonBorderColour: darken($accentColour, 30%);

$mainWidth: 650px;

$cornerRadius: 4px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "archiverify",
        "syntax-highlighting"
;
