<header>
    <a class="logo" href="{{ "/index.html" | prepend: site.baseurl }}">Archiverify</a>
    <nav>

        <a {% if page.section == 'home' %}class="selected"{% endif %} href="{{ "/index.html" | prepend: site.baseurl }}">Home</a>
        <a {% if page.section == 'documentation' %}class="selected"{% endif %} href="{{ "/documentation.html" | prepend: site.baseurl }}">Documentation</a>
        <a {% if page.section == 'release_notes' %}class="selected"{% endif %} href="{{ "/release_notes.html" | prepend: site.baseurl }}">Release Notes</a>
        <a class="download" href="https://github.com/DanCorder/Archiverify/releases/download/v2.0.0/Archiverify-v2.0.0.jar">Download</a>
    </nav>
</header>
